body {
    background-color: #e5b9f8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ce70ff;
    padding: 10px;
}

h1 {
    font-size: 24px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #ce70ff;
}

.cart-item {
    background-color: #fff;
    border-radius: 5px;
}

#total {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#checkout-button, #continue-shopping {
    padding: 10px 20px;
    background-color: #9c30c0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#checkout-button:hover, #continue-shopping:hover {
    background-color: #7b1c9c;
}
